---
Checks: >
  -*,
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  llvm-*,
  modernize-*,
  -modernize-use-trailing-return-type

CheckOptions:
  readability-identifier-naming.ClassCase: 'CamelCase'
  readability-identifier-naming.GlobalConstantCase: 'UPPER_CASE'
  readability-identifier-naming.EnumConstantCase: 'UPPER_CASE'
  readability-identifier-naming.EnumCase: 'CamelCase'
  readability-identifier-naming.FunctionCase: 'lower_case'
  readability-identifier-naming.FunctionIgnoredRegexp: '"LLVMFuzzerTestOneInput"'
  readability-identifier-naming.MemberCase: 'lower_case'
  readability-identifier-naming.UnionCase: 'CamelCase'
  readability-identifier-naming.LocalVariableCase: 'lower_case'
  readability-identifier-naming.PrivateMemberCase: 'lower_case'
  readability-identifier-naming.PrivateMemberSuffix: '_'
  readability-identifier-naming.IgnoreMainLikeFunctions: 'true'
  readability-redundant-member-init.IgnoreBaseInCopyConstructors: 'true'
  modernize-use-default-member-init.UseAssignment: 'true'
  readability-function-size.LineThreshold: '35'
  readability-identifier-naming.GetConfigPerFile: 'false'
  readability-identifier-naming.TemplateParameterCase: 'CamelCase'
  readability-identifier-naming.ParameterCase: 'lower_case'
